ion-card{
    border-radius:16px;
    margin-left: 17px;
    margin-right: 17px;
}
input.ng-touched.ng-invalid {
    border: 1px solid red;
  }
.border{
    border: 1px solid #383a3e57;
    outline: none;
    width: 100%;
    font-family: montserrat;
    border-radius: 4px;
    padding-bottom: 14px;
    padding-top: 17px;
    padding-left: 10px;
    padding-right: 10px;
    color: #222428d1;
}
.image{
    width: 130%;
    margin-top: -24px;
}
.border:hover{
    border: 1px solid black;
    outline: none;
}
.font{
    color: #eb445ad1;
    font-weight: 700;
    font-family: "montserrat";
}
.my-custom-class{
    font-family: "montserrat";
}
.remember{
    font-size: 12px;
    text-decoration: none;
    font-family: "montserrat";
    color: #383a3e9e;
    float: left;
    margin-top: 9px;
    /* margin-right: -1px; */
    margin-left: 10px;
}
.fgtpswd{
    font-size: 12px;
    text-decoration: none;
    font-family: "montserrat";
    color: #383a3e9e;
    float: right;
    margin-top: 9px;
    margin-right: 4px;
}
.fgtpswd:hover{
    color: rgb(37, 139, 235);
}
.fgtpswd2{
    margin-top: 7px;
}
.btn{
    width: 100%;
    background-color: #eb445ad1;
    border-radius: 4px;
    color: white;
    font-family: montserrat;
    outline: none;
    padding: 17px;
    font-size: 16px;
    font-weight: 500;
}
.bttn{
    margin-top: 60px;
}
.newuser{
    font-size: 14px;
    color: #383a3e9e;
 text-align: center;
 font-family: montserrat;
}
.signup{
    color: #eb445ad1;
    font-size: 14px;
    font-family: montserrat;
}
.connect{
    font-size: 14px;
    font-family: montserrat;
    text-align: center;
    line-height: 37px;
    color: #383a3e93;
}
.social{
    width: 45px;
}
.adjust{
    margin-top: 8px;
    font-family:"montserrat";
    font-size: 14px;
    color: red;
}
.socialicons{
    width: 45px;
    margin-left: 27px;
}
.alert-title.sc-ion-alert-md {
    color: #eb445a;
    font-size: 19px;
    font-weight: 700;
    font-family: "montserrat";
}
.alert-message.my-custom-class{
    
    max-height: 240px;
    font-size: 16px;
    font-family: montserrat;
    font-weight: 500px;
}